footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 209px;
    background-color: black;

    span {
        margin-top: 30px;
        color: white;
    }
}

@media (min-width: 1024px) {
    footer {

        main.error-page {
            padding-bottom: 159px;
        }
    }
}