@import 'variables';

main.home-page {
    margin: auto;
    
    .banner {
        display: flex;
        align-items: center;
        height: 111px;
        margin-bottom: 20px;
        overflow: hidden;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), $homePageBanner;
        background-position: bottom center;
        background-size: cover;
        border-radius: 10px;
        line-height: 24px;
        font-size: 24px;
        font-weight: 500;
        color: white;

        p {
            padding: 0px 15px;
        }
    }
}

@media (min-width: 740px) {
    main.home-page .banner {
        justify-content: center;

        br {
            display: none;
        }
    }
}

@media (min-width: 1024px) {
    main.home-page {    
        max-width: 1240px;

        .banner {
        height: 223px;
        margin: 30px auto 40px auto;
        font-size: 48px;
        }
    }
}