@import 'variables';
@import 'reset';
@import 'header';
@import 'burgerMenu';
@import 'footer';

body {
    padding: 20px;
    font-family: $primaryFont;
    font-size: 12px;
    color: $primaryColor;
}

@media (min-width: 1024px) {
    body {
        padding: 40px 100px 0px 100px;
    }
}