@import 'variables';
@import 'reset';
@import 'header';
@import 'burgerMenu';
@import 'footer';
@import 'errorPage';

body {
    padding: 20px;
    font-family: $primaryFont;
    font-size: 12px;
    color: $primaryColor;

    #root {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    body {
        padding: 40px 100px 0px 100px;
        font-size: 24px;
    }
}