@import 'variables';

main.rental-page {
    h2 {
        margin: 5px 0;
        font-weight: 500;
        line-height: 25px;
    }

    span {
        font-size: 14px;
        font-weight: 500;;
    }

    li {
        list-style-type: none;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;

        .tag {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 18px;
            margin: 10px 10px 0 0;
            padding: 0 20px;
            border-radius: 5px;
            background-color: $primaryColor;
            font-size: 10px;
            color: white;
        }
    }

    .rating-host {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;

        .rating {
            font-size: 20px;
        }

        .host {
            display:flex;
            align-items: center;

            span {
                width: min-content;
                text-align: right;
                font-size: 12px;
            }

            img {
                width: 32px;
                height: 32px;
                margin-left: 10px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}

@media (min-width: 740px) {
    .rental-informations {
        display: flex;
        justify-content: space-between;

        .rental-basics {
            width: 80%;
        }
    }

    .rating-host {
        flex-direction: column-reverse;
    }
}

@media (min-width: 1024px) {
    main.rental-page {
        h2 {
            line-height: initial;
        }

        span, .rating-host .host span {
            font-size: 18px;
        }

        .tags .tag {
            height: 25px;
            border-radius: 10px;
            font-size: 14px;
        }

        .rating-host .host img {
            width: 64px;
            height: 64px;
        }

        .rental-collapsible {
            display: grid;
            grid-template-columns: 46% 47%;
            grid-column-gap: 20px;

            .title, .collapsible {
                font-size: 18px;

                .content {
                    padding: 30px 20px 20px 20px;
                    line-height: 25px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    main.rental-page {
        .rental-collapsible {
            grid-template-columns: 47% 47%;
            grid-column-gap: 76px;
        }
    }
}